@{
    Layout = "~/Views/Shared/_ComplexUserLayout.cshtml";
    ViewBag.Title = "Simple ViewModel-HTML Helper";
}

@* To use ViewModel, first we need to declare type of our 'ViewModel' object *@

@model ViewsRazorPrac.Models.ComplexUserDTO


<h2>Simple ViewModel - HTML Helper</h2>


@*To access provided object to view from controler, we use 'Model' object*@

@Html.LabelFor(aa=> aa.UserName,"U Name"):
@Html.DisplayFor(p => p.UserName)

<br />
@Html.LabelFor(p=> p.Company)
@Html.DisplayFor(p => p.Company)
<br />
@Html.LabelFor(p=> p.Country)
@Html.DisplayFor(p => p.Country)
<br />