@{
    Layout = "~/Views/Shared/_ComplexUserLayout.cshtml";
    ViewBag.Title = "ViewModel-Edit with HTML Helper";
}

@* To use ViewModel, first we need to declare type of our 'ViewModel' object *@

@model ViewsRazorPrac.Models.ComplexUserDTO


<h2>ViewModel-Edit with HTML Helper</h2>


@*To access provided object to view from controler, we use 'Model' object*@

@Html.LabelFor(p=> p.UserName)
@Html.EditorFor(p => p.UserName)

<br />
@Html.LabelFor(p=> p.Company)
@Html.EditorFor(p => p.Company)
<br />
@Html.LabelFor(p=> p.Country)
@Html.EditorFor(p => p.Country)
<br />
